<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Rastreio SMS</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta charset="utf-8">
    <style type="text/css">
    #img{
        background-image:rgba(254,213,37,255);
        box-shadow: 0 0 0 0;
        border:0 none;
        outline:0;
    }
    #img2{
        background-image:rgba(254,213,37,255);
        box-shadow: 0 0 0 0;
        border:0 none;
        outline:0;
    }
    body{
        background-color:rgba(254,213,37,255)
    }
    #img-cor{
        position: relative;
        left: -20px;
        top: -5px;
    }
</style>
  </head>
  <body onload="myFunction('{{ success }}')">
    <center>
    <h1>Rastreio via SMS</h1>
    <form action="/enviado" method="get" id="img">
    <center><input type="text" placeholder="Insira o codigo de rastreio" name="rastreio"></center>
    <center><input type="tel" placeholder="Insira seu telefone" name="tel">
    <p>O formato telefônico deve ser: +55 DDD NUMERO (sem espaço)</p>
    <p><input type="checkbox" required> Aceito receber o status via SMS</p>
    <button>Rastrear</button> <button onclick="window.location.href = '/remover'">Remover rastreio</button>
      <img src="https://i.pinimg.com/originals/83/23/8c/83238c8117658fe5ee2cafb479b0eb68.png" width="800" height="400" id="img-cor">
    </center>
    </form>
    </center>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    function myFunction(success){
        if(success == "True"){
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Your work has been saved',
              showConfirmButton: false,
              timer: 1500
            })
        }
        else{
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong!',
              footer: '<a href>Why do I have this issue?</a>'
            })
        }
    }
  </script>
  </body>
</html>